<body>
    <center>
        <div class="video-container">
                <video controls>
                    <source src=@ThisVideo.Src type="video/mp4">
                </video>
                <MudPaper Class="mt-n11 pt-16 pb-8 rounded-xl" Style="width: 80%" Elevation="6">
                    <MudText Typo="Typo.h6">@ThisVideo.Title</MudText>
                    <MudText>@ThisVideo.SubTitle</MudText>
                </MudPaper>
        </div>
    </center>
</body>

<style>
    body {
        width: 100%;
        height: 100%;
    }

    .video-container {
        width: 90%;
        height: 100%;
    }

    video {
        width: 100%;
        max-width: 80%;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
</style>

@code {
    [Parameter]
    public Video ThisVideo {get; set;} = new Video();
}